*.nc
**/*.nc
make_atmos/cable_vegfunc_N96.anc
make_atmos/cable_vegfunc_N96.anc.mio
make_atmos/qrclim.slt
make_atmos/qrclim.slt.mio
make_atmos/qrclim.smow
make_atmos/qrclim.smow.mio
make_atmos/qrparm.mask
make_atmos/qrparm.mask.mio
make_atmos/qrparm.soil_igbp_vg
make_atmos/qrparm.soil_igbp_vg.mio
make_atmos/restart.mio
make_atmos/restart.subset
